<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <NavLink class="nav-link" href="/Account/Manage" Match="NavLinkMatch.All" data-enhance-nav="false">Profile</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/Account/Manage/Email" data-enhance-nav="false">Email</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/Account/Manage/ChangePassword" data-enhance-nav="false">Password</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/Account/Manage/TwoFactorAuthentication" data-enhance-nav="false">Two-factor authentication</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/Account/Manage/Passkeys" data-enhance-nav="false">Passkeys</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/Account/Manage/PersonalData" data-enhance-nav="false">Personal data</NavLink>
    </li>
</ul>
